<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF"
            crossorigin="anonymous"
        />

        <link
            href="https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat&display=swap"
            rel="stylesheet"
        />

        <script
            src="https://kit.fontawesome.com/282ac420ee.js"
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="css/styles.css" />

        <title>Quiz Mania!</title>
    </head>
</html>
