<%- include("partials/header") -%>
<body class="home-page">
    <div class="container">
        <label class="title">
            <!-- <h1>Quiz Mania!</h1> -->
            <img src="images/quiz.jpg" alt="" srcset="" />
        </label>
        <form action="/start" method="get">
            <input
                class="btn btn-lg btn-warning"
                type="submit"
                value="Start!"
            />
        </form>
    </div>
</body>
<%- include("partials/footer") -%>
