<%- include("partials/header") -%>
<div class="container">
    <label class="title">
        QUIZ MANIA!
    </label>
    <form action="/start" method="get">
        <input class="btn btn-lg btn-warning" type="submit" value="Start!">
    </form>
</div>
<%- include("partials/footer") -%>