<%- include("partials/header") -%>

<body onunload="blockBack()">
    <div class="container">
        <h1>
            Score: <%= score %>
        </h1>
        <h1>
            <%= msg %>
        </h1>
    </div>
</body>
<script>
    function blockBack() {
        window.location.href = "localhost:3000/submit";
    }
</script>
<%- include("partials/footer") -%>